<a href="https://colab.research.google.com/github/RAJITHAREDDYTIRUTHANI/Microemotion-based-music/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
df_stu = {1: {'name': 'John', 'age': '17', 'sex': 'Male', 'SchoolEnrolled': 'Princeton', 'SatScore': 1800},
            2: {'name': 'Marie', 'age': '18', 'sex': 'Female', 'SchoolEnrolled': 'Harvard', 'SatScore': 1550},
            3: {'name': 'Amanda', 'age': '16', 'sex': 'Female', 'SchoolEnrolled': 'Columbia', 'SatScore': 1700},
            4: {'name': 'Jody', 'age': '17', 'sex': 'Female', 'SchoolEnrolled': 'MIT', 'SatScore': 1600},
            5: {'name': 'Stacy', 'age': '18', 'sex': 'Female', 'SchoolEnrolled': 'Yale', 'SatScore': 1650},
            6: {'name': 'Brian', 'age': '17', 'sex': 'Male', 'SchoolEnrolled': 'Stanford', 'SatScore': 1500},
            7: {'name': 'Brad', 'age': '16', 'sex': 'Male', 'SchoolEnrolled': 'UChicago', 'SatScore': 1550},
            8: {'name': 'Mark', 'age': '15', 'sex': 'Male', 'SchoolEnrolled': 'Penn', 'SatScore': 1400},
            9: {'name': 'Susan', 'age': '16', 'sex': 'Female', 'SchoolEnrolled': 'CalTech', 'SatScore': 1450},
            10: {'name': 'Jim', 'age': '16', 'sex': 'Male', 'SchoolEnrolled': 'Duke', 'SatScore': 1300}}

In [2]:
import pandas as pd
df_stu =pd.DataFrame(df_stu).T
df_stu

      name age     sex SchoolEnrolled SatScore
1     John  17    Male      Princeton     1800
2    Marie  18  Female        Harvard     1550
3   Amanda  16  Female       Columbia     1700
4     Jody  17  Female            MIT     1600
5    Stacy  18  Female           Yale     1650
6    Brian  17    Male       Stanford     1500
7     Brad  16    Male       UChicago     1550
8     Mark  15    Male           Penn     1400
9    Susan  16  Female        CalTech     1450
10     Jim  16    Male           Duke     1300

In [3]:
df_stu.columns = ['Name', 'Age', 'Sex', 'SchoolEnrolled', 'SatScore']
print(df_stu)

      Name Age     Sex SchoolEnrolled SatScore
1     John  17    Male      Princeton     1800
2    Marie  18  Female        Harvard     1550
3   Amanda  16  Female       Columbia     1700
4     Jody  17  Female            MIT     1600
5    Stacy  18  Female           Yale     1650
6    Brian  17    Male       Stanford     1500
7     Brad  16    Male       UChicago     1550
8     Mark  15    Male           Penn     1400
9    Susan  16  Female        CalTech     1450
10     Jim  16    Male           Duke     1300

In [4]:
# Save to current directory instead
df_stu.to_csv("data.csv", index=False)

# Verify it's saved by reading it back
df_loaded = pd.read_csv("data.csv")
print(df_loaded.head())

     Name  Age     Sex SchoolEnrolled  SatScore
0    John   17    Male      Princeton      1800
1   Marie   18  Female        Harvard      1550
2  Amanda   16  Female       Columbia      1700
3    Jody   17  Female            MIT      1600
4   Stacy   18  Female           Yale      1650

In [5]:
df_stu.to_excel("data.xlsx", index=False)

df_excel_check = pd.read_excel("data.xlsx")
print(df_excel_check.head())

     Name  Age     Sex SchoolEnrolled  SatScore
0    John   17    Male      Princeton      1800
1   Marie   18  Female        Harvard      1550
2  Amanda   16  Female       Columbia      1700
3    Jody   17  Female            MIT      1600
4   Stacy   18  Female           Yale      1650

In [6]:
df_from_excel = pd.read_excel("data.xlsx", index_col=0)
print(df_from_excel.head())

        Age     Sex SchoolEnrolled  SatScore
Name
John     17    Male      Princeton      1800
Marie    18  Female        Harvard      1550
Amanda   16  Female       Columbia      1700
Jody     17  Female            MIT      1600
Stacy    18  Female           Yale      1650

In [7]:
df_stu.to_json("data.json", orient='records', lines=True)

with open("data.json", "r") as f:
    for _ in range(5):
        print(f.readline().strip())

{"Name":"John","Age":"17","Sex":"Male","SchoolEnrolled":"Princeton","SatScore":1800}
{"Name":"Marie","Age":"18","Sex":"Female","SchoolEnrolled":"Harvard","SatScore":1550}
{"Name":"Amanda","Age":"16","Sex":"Female","SchoolEnrolled":"Columbia","SatScore":1700}
{"Name":"Jody","Age":"17","Sex":"Female","SchoolEnrolled":"MIT","SatScore":1600}
{"Name":"Stacy","Age":"18","Sex":"Female","SchoolEnrolled":"Yale","SatScore":1650}

In [8]:
df_from_json = pd.read_json("data.json", lines=True)
print(df_from_json.head())

     Name  Age     Sex SchoolEnrolled  SatScore
0    John   17    Male      Princeton      1800
1   Marie   18  Female        Harvard      1550
2  Amanda   16  Female       Columbia      1700
3    Jody   17  Female            MIT      1600
4   Stacy   18  Female           Yale      1650

In [14]:
import lxml
import html5lib
df_stu.to_html("data.html")

with open("data.html", "r") as f:
    for _ in range(15):
        print(f.readline().strip())

<table border="1" class="dataframe">
<thead>
<tr style="text-align: right;">
<th></th>
<th>Name</th>
<th>Age</th>
<th>Sex</th>
<th>SchoolEnrolled</th>
<th>SatScore</th>
</tr>
</thead>
<tbody>
<tr>
<th>1</th>
<td>John</td>

In [11]:
$ conda install lxml html5lib

Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (5.3.2)
Requirement already satisfied: html5lib in /usr/local/lib/python3.11/dist-packages (1.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.11/dist-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from html5lib) (0.5.1)

In [18]:
!sudo apt-get update
!sudo apt-get install xclip
!pip install pyperclip

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:7 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [73.0 kB]
Get:8 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,243 kB]
Get:9 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,788 kB]
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:11 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,847 kB]
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,697 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,101 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [4,161 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,542 kB]
Fetched 24.7 MB in 3s (7,742 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  xclip
0 upgraded, 1 newly installed, 0 to remove and 47 not upgraded.
Need to get 18.3 kB of archives.
After this operation, 60.4 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 xclip amd64 0.13-2 [18.3 kB]
Fetched 18.3 kB in 0s (61.9 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package xclip.
(Reading database ... 126315 files and directories currently installed.)
Preparing to unpack .../xclip_0.13-2_amd64.deb ...
Unpacking xclip (0.13-2) ...
Setting up xclip (0.13-2) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pyperclip in /usr/local/lib/python3.11/dist-packages (1.9.0)

PyperclipException: Pyperclip could not find a copy/paste mechanism for your system. For more information, please visit https://pyperclip.readthedocs.io/en/latest/index.html#not-implemented-error
On Linux, you can run `sudo apt-get install xclip` or `sudo apt-get install xselect` to install a copy/paste mechanism.

In [20]:

import pandas as pd
from io import StringIO
data = "Name,Age,Sex\nJohn,17,Male\nMarie,18,Female"
# Use StringIO to simulate reading from clipboard (as if it's a file)
data_io = StringIO(data)
df_clip = pd.read_csv(data_io)
print(df_clip.head())

    Name  Age     Sex
0   John   17    Male
1  Marie   18  Female

In [21]:
with open("things.txt", "w") as file:
    file.write("Elephant\n")
    file.write("Mango\n")
    file.write("Canada\n")

In [22]:
with open("things.txt", "r") as file:
    content = file.read()

print(content)

Elephant
Mango
Canada